@layer floating.arrow {
  .v-float-arrow {
    position: fixed;
    position-anchor: var(--v-float-anchor-name);
    width: var(--ui-arrow-size);
    height: var(--ui-arrow-size);
    background: var(--ui-surface-bg);
    border-inline-start: var(--ui-border);
    border-block-start: var(--ui-border);
    border-start-start-radius: var(--ui-arrow-radius);
    z-index: var(--ui-z-arrow);
    pointer-events: none;

    [data-placement^='bottom'] & {
      top: calc(anchor(bottom) + var(--ui-offset));
      left: anchor(center);
      translate: -50% var(--ui-arrow-offset);
      rotate: 45deg;
    }

    [data-placement^='top'] & {
      top: calc(anchor(top) - var(--ui-offset));
      left: anchor(center);
      translate: -50% var(--ui-arrow-offset);
      rotate: 225deg;
    }

    [data-placement^='right'] & {
      left: calc(anchor(right) + var(--ui-offset));
      top: anchor(center);
      translate: var(--ui-arrow-offset) -50%;
      rotate: -45deg;
    }

    [data-placement^='left'] & {
      left: calc(anchor(left) - var(--ui-offset));
      top: anchor(center);
      translate: var(--ui-arrow-offset) -50%;
      rotate: 135deg;
    }

    @container anchored(fallback: flip-block) {
      [data-placement^='bottom'] & {
        top: calc(anchor(top) - var(--ui-offset));
        translate: -50% var(--ui-arrow-offset);
        rotate: 225deg;
      }

      [data-placement^='top'] & {
        top: calc(anchor(bottom) + var(--ui-offset));
        translate: -50% var(--ui-arrow-offset);
        rotate: 45deg;
      }
    }

    @container anchored(fallback: flip-inline) {
      [data-placement^='right'] & {
        left: calc(anchor(left) - var(--ui-offset));
        translate: var(--ui-arrow-offset) -50%;
        rotate: 135deg;
      }

      [data-placement^='left'] & {
        left: calc(anchor(right) + var(--ui-offset));
        translate: var(--ui-arrow-offset) -50%;
        rotate: -45deg;
      }
    }
  }
}
