@layer floating.arrow {
  .v-float-arrow {
    position: fixed;
    position-anchor: var(--v-float-anchor-name);
    width: var(--ui-arrow-size);
    height: var(--ui-arrow-size);
    background: var(--ui-surface-bg);
    border-inline-start: 1px solid var(--ui-surface-border);
    border-block-start: 1px solid var(--ui-surface-border);
    rotate: 45deg;
    z-index: 1;
    pointer-events: none;
  }

  [data-placement^='bottom'] .v-float-arrow {
    top: anchor(bottom);
    left: anchor(center);
    translate: -50% var(--ui-arrow-offset);
    rotate: 45deg;
  }

  [data-placement^='top'] .v-float-arrow {
    top: anchor(top);
    left: anchor(center);
    translate: -50% calc(-1 * var(--ui-arrow-size) / 2);
    rotate: 225deg;
  }

  [data-placement='right'] .v-float-arrow {
    left: anchor(right);
    top: anchor(center);
    translate: var(--ui-arrow-offset) -50%;
    rotate: -45deg;
  }

  [data-placement='left'] .v-float-arrow {
    left: anchor(left);
    top: anchor(center);
    translate: calc(-1 * var(--ui-arrow-size) / 2) -50%;
    rotate: 135deg;
  }
}
