@layer floating.base {
  [data-floating-anchor] {
    anchor-name: var(--v-float-anchor-name);
  }

  .v-float-panel {
    margin: 0;
    padding: 0;
    border: none;
    color: var(--ui-surface-fg);
    background: var(--ui-surface-bg);

    position-anchor: var(--v-float-anchor-name);
    position: fixed;
    inset: auto;

    position-try-fallbacks:
      flip-block,
      flip-inline,
      flip-block flip-inline;

    container-type: anchored;

    border-radius: var(--ui-surface-radius);
    box-shadow: var(--ui-surface-shadow);

    opacity: 0;
    transition:
      opacity var(--ui-transition-duration) var(--ui-transition-easing),
      display var(--ui-transition-duration) allow-discrete,
      overlay var(--ui-transition-duration) allow-discrete;

    &:popover-open {
      opacity: 1;
    }

    @starting-style {
      &:popover-open {
        opacity: 0;
      }
    }

    &[data-placement^='top'] {
      position-area: block-start;
      margin-block-end: var(--ui-offset);
    }

    &[data-placement^='bottom'] {
      position-area: block-end;
      margin-block-start: var(--ui-offset);
    }

    &[data-placement^='left'] {
      position-area: inline-start;
      margin-inline-end: var(--ui-offset);
    }

    &[data-placement^='right'] {
      position-area: inline-end;
      margin-inline-start: var(--ui-offset);
    }

    &:is([data-placement='top'], [data-placement='bottom']) {
      justify-self: anchor-center;
    }

    &:is([data-placement='top-start'], [data-placement='bottom-start']) {
      justify-self: start;
    }

    &:is([data-placement='top-end'], [data-placement='bottom-end']) {
      justify-self: end;
    }

    &:is([data-placement='left'], [data-placement='right']) {
      align-self: anchor-center;
    }

    &:is([data-placement='left-start'], [data-placement='right-start']) {
      align-self: start;
    }

    &:is([data-placement='left-end'], [data-placement='right-end']) {
      align-self: end;
    }

    &[data-flip='false'] {
      position-try-fallbacks: none;
    }
  }
}
