@layer floating.base {
  [data-floating-anchor] {
    anchor-name: var(--v-float-anchor-name);
  }

  .v-float-panel {
    margin: 0;
    padding: 0;
    border: none;
    color: var(--ui-surface-fg);
    background: var(--ui-surface-bg);

    position-anchor: var(--v-float-anchor-name);
    position: fixed;

    position-try-fallbacks: flip-block, flip-inline;

    border-radius: var(--ui-surface-radius);
    box-shadow: var(--ui-surface-shadow);

    opacity: 0;
    transition:
      opacity var(--ui-transition-duration) var(--ui-transition-easing),
      display var(--ui-transition-duration) allow-discrete,
      overlay var(--ui-transition-duration) allow-discrete;

    &:popover-open {
      opacity: 1;
    }

    @starting-style {
      &:popover-open {
        opacity: 0;
      }
    }

    &:is([data-placement='top'], [data-placement='top-start'], [data-placement='top-end']) {
      margin-block: 0 var(--ui-offset);
    }

    &:is(
      [data-placement='bottom'],
      [data-placement='bottom-start'],
      [data-placement='bottom-end']
    ) {
      margin-block: var(--ui-offset) 0;
    }

    &[data-placement='top'] {
      position-area: top center;
      position-try-fallbacks: --v-float-bottom, flip-block;
    }

    &[data-placement='top-start'] {
      position-area: top span-right;
      position-try-fallbacks: --v-float-bottom-start, flip-block;
    }

    &[data-placement='top-end'] {
      position-area: top span-left;
      position-try-fallbacks: --v-float-bottom-end, flip-block;
    }

    &[data-placement='bottom'] {
      position-area: bottom center;
      position-try-fallbacks: --v-float-top, flip-block;
    }

    &[data-placement='bottom-start'] {
      position-area: bottom span-right;
      position-try-fallbacks: --v-float-top-start, flip-block;
    }

    &[data-placement='bottom-end'] {
      position-area: bottom span-left;
      position-try-fallbacks: --v-float-top-end, flip-block;
    }

    &[data-placement='left'] {
      position-area: center left;
      margin-inline: 0 var(--ui-offset);
      position-try-fallbacks: --v-float-right, flip-inline;
    }

    &[data-placement='left-start'] {
      position-area: span-bottom left;
      margin-inline: 0 var(--ui-offset);
      position-try-fallbacks: --v-float-right-start, flip-inline;
    }

    &[data-placement='left-end'] {
      position-area: span-top left;
      margin-inline: 0 var(--ui-offset);
      position-try-fallbacks: --v-float-right-end, flip-inline;
    }

    &[data-placement='right'] {
      position-area: center right;
      margin-inline: var(--ui-offset) 0;
      position-try-fallbacks: --v-float-left, flip-inline;
    }

    &[data-placement='right-start'] {
      position-area: span-bottom right;
      margin-inline: var(--ui-offset) 0;
      position-try-fallbacks: --v-float-left-start, flip-inline;
    }

    &[data-placement='right-end'] {
      position-area: span-top right;
      margin-inline: var(--ui-offset) 0;
      position-try-fallbacks: --v-float-left-end, flip-inline;
    }

    &[data-flip='false'] {
      position-try-fallbacks: none;
    }
  }
}
