@layer floating.base {
  @position-try --v-float-top {
    position-area: top center;
    margin-block: 0 var(--ui-offset);
  }

  @position-try --v-float-top-start {
    position-area: top span-right;
    margin-block: 0 var(--ui-offset);
  }

  @position-try --v-float-top-end {
    position-area: top span-left;
    margin-block: 0 var(--ui-offset);
  }

  @position-try --v-float-bottom {
    position-area: bottom center;
    margin-block: var(--ui-offset) 0;
  }

  @position-try --v-float-bottom-start {
    position-area: bottom span-right;
    margin-block: var(--ui-offset) 0;
  }

  @position-try --v-float-bottom-end {
    position-area: bottom span-left;
    margin-block: var(--ui-offset) 0;
  }

  @position-try --v-float-left {
    position-area: center left;
    margin-inline: 0 var(--ui-offset);
  }

  @position-try --v-float-left-start {
    position-area: span-bottom left;
    margin-inline: 0 var(--ui-offset);
  }

  @position-try --v-float-left-end {
    position-area: span-top left;
    margin-inline: 0 var(--ui-offset);
  }

  @position-try --v-float-right {
    position-area: center right;
    margin-inline: var(--ui-offset) 0;
  }

  @position-try --v-float-right-start {
    position-area: span-bottom right;
    margin-inline: var(--ui-offset) 0;
  }

  @position-try --v-float-right-end {
    position-area: span-top right;
    margin-inline: var(--ui-offset) 0;
  }
}
