<script setup lang="ts">
import { PropType, ref, toRef } from "vue";
import { Trigger } from "./types";
import { useFloating } from "./useFloating";

const triggerRef = ref();
const floatRef = ref();
const arrowRef = ref();

const props = defineProps({
  trigger: [String, Array] as PropType<Trigger | Trigger[]>,
  content: String,
  triggerIs: {
    default: "span",
    type: String,
  },
  triggerProps: Object,
  floatIs: {
    default: "div",
    type: String,
  },
  floatProps: Object,
  hasArrow: {
    default: true,
    type: Boolean,
  },
  placement: String,
  triggerHide: Number,
  offset: Number,
});

const { trigger, placement, offset } = props;
const { visible } = useFloating(triggerRef, floatRef, {
  trigger,
  placement,
  arrowRef,
  offset,
  triggerHide: toRef(props, "triggerHide"),
});
</script>

<template>
  <component ref="triggerRef" :is="triggerIs" v-bind="triggerProps">
    <slot />
  </component>

  <teleport v-if="visible" to="body">
    <component
      ref="floatRef"
      :is="floatIs"
      v-bind="floatProps"
      :class="$style.floating"
    >
      <slot name="content">{{ content }}</slot>
      <div v-if="hasArrow" ref="arrowRef" :class="$style.arrow">
        <svg width="24" height="12">
          <path d="M0 0c6 0 5 7 12 7s6-7 12-7z" />
        </svg>
      </div>
    </component>
  </teleport>
</template>

<style lang="scss" module>
.floating {
  position: fixed;
  top: 0;
  left: 0;
  background: #222;
  color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 4px;
  font-size: 90%;
}

.arrow {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 24px;
  height: 12px;

  fill: #222;
  stroke: lime;
  stroke-dasharray: 29 24;
}
</style>
