<script setup lang="ts">
import { ref } from "vue";
import { VFloat } from "@/components";

const checked = ref(true);
const count = ref(0);
</script>

<template>
  <h1>Floating</h1>

  <p>
    Simple:

    <v-float content="My tooltip with more content">Hover me</v-float>
  </p>

  <p>
    With content:

    <v-float>
      Hover me

      <template #content>
        <h3>My tooltip</h3>
        <p>with custom content</p>
      </template>
    </v-float>
  </p>

  <p>
    <label>
      <input type="checkbox" v-model="checked" />
      Toggled:
    </label>

    <v-float v-if="checked">
      Hover me

      <template #content>My tooltip with more content</template>
    </v-float>
  </p>

  <p>
    Focusable:

    <v-float
      trigger="focus"
      content="My tooltip with more content"
      triggerIs="button"
    >
      Focus me</v-float
    >
  </p>

  <p>
    Hover / Focusable:

    <v-float
      :trigger="['focus', 'hover']"
      content="My tooltip with more content"
      triggerIs="button"
    >
      Focus me</v-float
    >
  </p>

  <p>
    Toggle:

    <v-float
      trigger="toggle"
      content="My tooltip with more content"
      triggerIs="button"
    >
      Click me</v-float
    >
  </p>

  <p>
    Positioned tooltip:

    <v-float content="My tooltip with more content" placement="bottom"
      >Bottom Positioned</v-float
    >

    <v-float content="My tooltip with more content" placement="top"
      >Top Positioned</v-float
    >

    <v-float content="My tooltip with more content" placement="left"
      >Left Positioned</v-float
    >

    <v-float content="My tooltip with more content" placement="right"
      >Right Positioned</v-float
    >
  </p>

  <p>Scrollable container:</p>
  <div class="container" @scroll="count++">
    <div class="content">
      <v-float
        content="My tooltip with more content"
        placement="top"
        :triggerHide="count"
        >Hover me</v-float
      >
    </div>
  </div>
</template>

<style lang="scss">
.container {
  height: 200px;
  overflow: auto;
  border: 1px solid #ccc;
}

.content {
  padding-top: 100px;
  height: 400px;
}
</style>
