@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html,
  body {
    block-size: 100%;
    margin: 0;
  }

  html {
    color-scheme: light dark;
  }

  body {
    font-family: system-ui, sans-serif;
  }

  #app {
    min-block-size: 100%;
  }

  :focus-visible {
    outline: var(--ui-focus-ring);
    outline-offset: var(--ui-focus-offset);
  }
}
