@layer floating.base {
  .v-float-panel {
    margin: 0;
    padding: 0;
    border: none;
    color: var(--ui-surface-fg);
    background: var(--ui-surface-bg);

    position-anchor: var(--v-float-anchor-name);
    position: fixed;

    position-try-fallbacks: flip-block, flip-inline;
    position-try-order: most-height;

    border-radius: var(--ui-surface-radius);
    box-shadow: var(--ui-surface-shadow);

    opacity: 0;
    scale: 0.96;
    transition:
      opacity var(--ui-transition-duration) var(--ui-transition-easing),
      scale var(--ui-transition-duration) var(--ui-transition-easing),
      display var(--ui-transition-duration) allow-discrete,
      overlay var(--ui-transition-duration) allow-discrete;
  }

  @starting-style {
    .v-float-panel:popover-open {
      opacity: 0;
      scale: 0.96;
    }
  }

  .v-float-panel:popover-open {
    opacity: 1;
    scale: 1;
  }

  .v-float-panel[data-placement='top'] {
    position-area: top;
    margin-block: 0 var(--ui-offset);
    position-try-fallbacks: --v-float-bottom, flip-block;
  }

  .v-float-panel[data-placement='top-start'] {
    position-area: top span-right;
    margin-block: 0 var(--ui-offset);
    position-try-fallbacks: --v-float-bottom-start, flip-block;
  }

  .v-float-panel[data-placement='top-end'] {
    position-area: top span-left;
    margin-block: 0 var(--ui-offset);
    position-try-fallbacks: --v-float-bottom-end, flip-block;
  }

  .v-float-panel[data-placement='bottom'] {
    position-area: bottom;
    margin-block: var(--ui-offset) 0;
    position-try-fallbacks: --v-float-top, flip-block;
  }

  .v-float-panel[data-placement='bottom-start'] {
    position-area: bottom span-right;
    margin-block: var(--ui-offset) 0;
    position-try-fallbacks: --v-float-top-start, flip-block;
  }

  .v-float-panel[data-placement='bottom-end'] {
    position-area: bottom span-left;
    margin-block: var(--ui-offset) 0;
    position-try-fallbacks: --v-float-top-end, flip-block;
  }

  .v-float-panel[data-placement='left'] {
    position-area: left;
    margin-inline: 0 var(--ui-offset);
    position-try-fallbacks: --v-float-right, flip-inline;
  }

  .v-float-panel[data-placement='right'] {
    position-area: right;
    margin-inline: var(--ui-offset) 0;
    position-try-fallbacks: --v-float-left, flip-inline;
  }

  .v-float-panel[data-flip='false'] {
    position-try-fallbacks: none;
  }
}
